body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    padding: 1%;
}
/* Headers */
h1{
    color: transparent;
    background: linear-gradient(90deg, #f4df8b 0%, #be6a29 100%);
    -webkit-background-clip: text;
    background-clip: text;  /* Propiedad estándar */
}
.header-section {
    display: flex;
    align-items: left;
    margin-bottom: 2%;
}
.right-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
    float: right;
}
/* Filtros */
.filters {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
}
.input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15%;
    margin: 1% 0;
}
.input-group.full {
    flex: 1;
}
input, select {
    padding: 7px;
    border-radius: 5px;
    border: none;
    background: #334155;
    color: white;
}
.input-field {
    width: 100%;
    padding: 14px 12px 6px 12px;
    background: #1f2937;          /* fondo oscuro */
    border: 1px solid #4b5563;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
}
.label {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
}
.floating-label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #9ca3af;
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease;
}
/* Cuando el input tiene contenido o está enfocado -> mueve el label arriba */
.input-field:focus + .floating-label,
.input-field:not(:placeholder-shown) + .floating-label,
.input-field:valid + .floating-label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    background: #1f2937;
    padding: 0 4px;
    color: #cbd5e1;
}
.btn {
    padding: 6px 14px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.btn.blue { background: #0284c7; color: white;}
.btn.red { background: #dc2626;  color: white;}
.btn.green { background: #16a34a; color: white;}
.btn.yellow { background: #fbbf24; color: white; }
/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}
/* Degradado solo para el texto */
.headerTable th span {
    display: inline-block;
    background: linear-gradient(90deg, #f4df8b 0%, #be6a29 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Necesario para que se vea el gradiente */
    font-weight: 600;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background: #0f172a;
    padding: 12px;
}
tr:nth-child(even) {
    background: #273449;
}
.acciones{
    display: flex;
    gap: 10px;
}
/* Botón morado (icono) */
.btn-edit {
    background-color: #373051;
    color: #675896;
}
.btn-edit:hover {
    background-color: #6d28d9;
    color: white;
}
/* Botón PDF (amarillo mostaza) */
.btn-pdf {
    background-color: #4d401e;
    color: #cf9e3a;
}
.btn-pdf:hover {
    background-color: #fbbf24;
    color: white;
}
/* Botón cancelar (rojo) */
.btn-cancelar {
    background-color: #4f2b30;
    color: #bc4247;
}
.btn-cancelar:hover {
    background-color: #dc2626;
    color: white;
}